
.profile__add-btn {

  border: 1px solid #FFFFFF;

  box-sizing: border-box;
  background: none;
  width: 150px;
  height: 50px;
  margin-left: auto;
  padding: 0;
}

.profile__add-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .profile__add-btn {
    min-width: 282px;
    width: calc(100% - 200px);
    margin: 36px 0 0;
  }

}
