.popup__save {
  min-height: 50px;
  border:   none;
  background: rgb(0, 0, 0);
  border-radius: 2px;


  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #FFFFFF;
}

.popup__save:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 500px) {
  .popup__save {
    font-size: 14px;
    line-height: 17px;
    min-height: 40px;
  }

}
