

.elements__like {
  width: 21px;
  height: 19px;
  border: none;
  padding: 0;
  background-color: unset;
  background: url(https://code.s3.yandex.net/web-code/dom/heart.svg) center no-repeat;
  background-size: 100%;
  cursor: pointer;

}


.elements__like:hover {
  cursor: pointer;
  opacity: 0.6;
}
